name: test
on: push

jobs:
  create_release:
    runs-on: ubuntu-latest
    name: Create a Replicated KOTS release for this commit
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Create the release
      id: test-action
      uses: replicatedhq/action-kots-release@master
      with:
        replicated-app: kots-release-action
        replicated-api-token: ${{ secrets.REPLICATED_TOKEN }}
        yaml-dir: upload
        release-notes: 'GitHub Action release of ${GITHUB_REF} triggered by ${GITHUB_ACTOR}: [${GITHUB_SHA::7}](https://github.com/${GITHUB_REPOSITORY}/commit/${GITHUB_SHA})'
